.body{
    background-image: url(./images/bg-vemsegura.svg);
  }

.menu{
    width: 100%;
    display: inline-block;
    }

.menu a{
    color: #FF8869 ;
    text-decoration:none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    display: inline-block;
    width: 19%;
    vertical-align: top;
    
   
}